/*
 * Globals
 */
html,
body {
  height: 100%;
  background: url("../../public/images/background.jpg") center center fixed;
  background-size: cover;
  
}

body {
  color: #fff;
}

p {
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: none;
}

li {
	list-style: none;
}

ul {
	padding: 0;
}

input:hover,
input:focus {
	outline: none;
}

/*     H E A D E R    */
#header {
	background: rgba(100, 100, 100, 0.8);
	width: 300px;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	position: fixed;
	height: 100%;
}

#header .header-brand {
	background: url("../../public/images/brand.jpg") center center no-repeat;
    width: auto;
    height: 74px;
    background-size: 100%;
}

#header .user-informations {
	font-family: 'Quicksand', Arial, sans-serif;
	margin-top: 30px;
	text-align: center;
	color: #fff;
}

#header .user-informations .name,
#header .user-informations .statut {
	text-transform: uppercase;
}

#header .user-informations .name {
	font-size: 17px;
	font-weight: bold;
}

#header .user-informations .hostel {
	margin-top: 10px;
}

#header #main-nav ul {
	margin-top: 40px;
}

#header #main-nav ul li {
	border-top: 1px solid #fff;
	padding: 20px;
}

#header #main-nav ul li:hover {
	background: #fff;
}

#header #main-nav ul li:hover a {
	color: #000;
}

#header #main-nav ul li:last-child {
	border-bottom: 1px solid #fff;
}

#header #main-nav ul li a {
	font-family: 'Quicksand', Arial, sans-serif;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #fff;
}

.content {
	padding-left: 285px;
}

.content #search {
	margin: 20px 30px 0 0;
}

.content #search input {
	float: right;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	padding: 2px 5px;
}

@media screen and (max-width: 750px) {

    #header {
        background: #003d7e;
        width: 100px;
    }

    #header .header-brand {
    	background: url("../../public/images/responsive-brand.jpg") center center no-repeat;
    	background-size: 55%;
    	height: 65px;
    }

    #header .user-informations {
    	display: none;
    }
	
	#content {
		padding-left:300px;
	}
}