/*
 * Globals
 */
html,
body {
  height: 100%;
  background: url("../../public/images/background.jpg") center center fixed;
  background-size: cover;
  
}

body {
  color: #fff;
}

p {
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: none;
}

li {
	list-style: none;
}

ul {
	padding: 0;
}

textarea {
	color: #000;
	resize: none;
}

textarea:hover,
textarea:focus {
	outline: none;
}

input:hover,
input:focus {
	outline: none;
}

/*     H E A D E R    */
#header {
	background: rgba(100, 100, 100, 0.8);
	width: 300px;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	position: fixed;
	height: 100%;
}

#header .header-brand {
	background: url("../../public/images/brand.jpg") center center no-repeat;
    width: auto;
    height: 74px;
    background-size: 100%;
    margin: 0;
}

#header .user-informations {
	font-family: 'Quicksand', Arial, sans-serif;
	margin-top: 30px;
	text-align: center;
	color: #fff;
}

#header .user-informations .name,
#header .user-informations .statut {
	text-transform: uppercase;
}

#header .user-informations .name {
	font-size: 17px;
	font-weight: bold;
}

#header .user-informations .hostel {
	margin-top: 10px;
}

#header .user-informations .logout {
	margin-top: 10px;
	background-color: #003d7e;
	color: #fff;
	border: none;
}

#header #main-nav,
#header #responsive-main-nav {
	margin-top: 40px;
}

#header #responsive-main-nav {
	display: none;
}

#header #main-nav li,
#header #responsive-main-nav li {
	border-top: 1px solid #fff;
	padding: 20px;
}

#header #main-nav li:hover,
#header #responsive-main-nav li:hover {
	background: #fff;
}

#header #main-nav li:hover a,
#header #responsive-main-nav li:hover a {
	color: #003d7e;
}

#header #main-nav li:last-child,
#header #responsive-main-nav li:last-child {
	border-bottom: 1px solid #fff;
}

#header #main-nav li a {
	font-family: 'Quicksand', Arial, sans-serif;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #fff;
}

#header #responsive-main-nav li a {
	font-size: 20px;
	text-align: center;
	display: block;
	color: #fff;
}

.content {
	padding-left: 300px;
	margin: 0 20px;
}

.content .content-inner {
	background: rgba(100, 100, 100, 0.6);
}

.content #search {
	margin: 20px 30px 50px 0
}

.content #search input {
	float: right;
	background: #fff;
	border: 1px solid #fff;
	color: #000;
	padding: 2px 5px;
}

.content #languages {
	margin-top: 20px;
}

.content #languages .language {
	border: 1px solid #fff;
	padding: 3px 8px;
	color: #fff;
	text-align: center; 
	margin-left: 10px;
	transition: all ease 300ms;
}

.content #languages .language:hover {
	background: #003d7e;
	border: 1px solid #003d7e;
	color: #fff;
}
