
#messages {
	margin-top: 30px;
}

/* ADD NEWS */
#messages #add-news {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 50px;
}

#messages #add-news h2 {
	font-family: 'Quicksand', Arial, sans-serif;
	color: #003d7e;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 15px 0;
}

#messages #add-news .add-news-form {
	margin: 0;
}

#messages #add-news .add-news-form input {
	display: block;
	font-size: 13px;
	padding: 5px;
	color: #000;
	border: 1px solid #ccc;
}

#messages #add-news .add-news-form label {
	color: #000;
	display: block;
	font-weight: normal;
	margin: 0;
}

#messages #add-news .add-news-form input#title {
	margin-bottom: 10px;
	width: 50%;
}

#messages #add-news .add-news-form textarea#content {
	border: 1px solid #ccc;
	font-size: 13px;
	padding: 5px;
	color: #000;
	height: 60px;
	width: 80%;
}

#messages #add-news .add-news-form input[type="file"] {
	color: #000;
	border: none;
	margin: 10px 0;
}

#messages #add-news .add-news-form input[type="submit"] {
    margin-top: 10px;
    background-color: #003d7e;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: inherit;
    width: 120px;
}

/* NEWS LIST */
#messages .message {
    background: #fff;
    color: #000;
    position: relative;
    margin-bottom: 20px;
    overflow: auto;
    padding: 30px;
}

#messages .message .message-content {
    overflow: auto;
    margin-bottom: 20px;
}

#messages .message .message-content h3 {
    font-family: 'Quicksand', arial, sans-serif;
    color: #003d7e;
    font-weight: normal;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-size: 14px;
}

#messages .message .message-content p {
    font-size: 13px;
}

/* COMMENTS */
.comment {
	margin-top: 15px;
}

#messages .message #comments {
    border-top: 1px solid #999;
    clear: both;
}

#messages #comments .comments-section h3 {
	font-family: 'Quicksand', Arial, sans-serif;
	color: #999;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}

#messages #comments .comments-section .comment p {
	font-size: 12px;
}

#messages #comments .comments-section .comment section.hostel-response-informations p:first-child {
	color: #003d7e;
	font-weight: bold;
	font-family: 'Quicksand', Arial, sans-serif;
}

#messages #comments .comments-section .comment section.news-comment {
	margin-top: 5px;
}

#messages #comments form {
	margin-top: 15px;
}

#messages #comments form textarea {
	display: block;
	font-size: 12px;
	padding: 3px;
	width: 100%;
}

#messages #comments form input[type="submit"] {
	background-color: #003d7e;
	color: #fff;
	font-size: 12px;
	padding: 3px 10px;
	margin-top: 10px;
	border: none;
}

#messages #author {
	font-size: 10px;
	margin-bottom: 8px;
	font-weight: bold;
}

.hostel-response-informations {
	margin-top: 13px;
}