#map {
	margin-bottom: 60px;
}

#map .location {
	cursor: pointer;
}

#map #spain-map-content {
	display: none;
}

#map #spain-map-content #hotel-salobrena,
#map #spain-map-content #hotel-madrid,
#map #spain-map-content #hotel-barcelone {
	display: none;
}