#mail-box {
	color: #000;
}

#mail-box .messages-header {
	overflow: auto;
}

#mail-box .messages-header h3 {
	font-family: 'Quicksand', Arial, sans-serif;
	font-weight: bold;
	color: #fff;
	margin: 0;
	padding: 0;
}

#mail-box .messages-header .trash {
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#mail-box .box-content {
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 40px;
	clear: both;
}

#mail-box .box-content .message {
	border-bottom: 1px solid #ccc;
	padding: 15px;
	overflow: auto;
    font-style: normal;
}

#mail-box .box-content .message .mail-open {
    background: url("/public/images/enveloppe-msg.png") 0 0 no-repeat;
    display: block;
    background-size: 77%;
    text-indent: -99999px;
    margin-top: 10px;
    width: 15px;
}

#mail-box .box-content .message .from {
	font-family: 'Quicksand', Arial, sans-serif;
	color: #999;
	font-size: 12px;
	text-align: center;
    font-style: normal;
}

#mail-box .box-content .message .delete-message {
	float: right;
    padding-top: 8px;
}

#mail-box .box-content .message .delete-message input {
	display: block;
}

